/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .header-01 {
    height: 64px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .c-item-02 svg {
    width: 121px;
    height: 32px;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 20px;
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .header-01 {
    height: 76px;
    background-color: #FFF;
  }
  .header-01 .c-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-01 .c-wrapper .c-item-01 {
    display: none;
  }
  .header-01 .c-wrapper .hamburger-menu-icon {
    display: flex;
    position: absolute;
    left: 0;
    top: 26px;
  }
}
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .header-01 {
    width: 1290px;
    height: 100px;
    background: rgb(245, 245, 245);
    position: absolute;
    z-index: 10;
  }
  .header-01 .container {
    display: flex;
    left: 164px;
  }
  .header-01 .container .c-item {
    margin-right: 100px;
    top: 35px;
  }
  .header-01 .container .c-item img {
    width: 175px;
    height: 22px;
  }
  .header-01 .container .c-item-01 {
    top: 39px;
  }
  .header-01 .container .c-item-01 > ul {
    display: flex;
  }
  .header-01 .container .c-item-01 > ul > li {
    height: 60px;
  }
  .header-01 .container .c-item-01 > ul > li > a {
    font-size: 11px;
    font-weight: 600;
    color: #1b1d21;
    transition: color 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li > a:hover {
    color: red;
  }
  .header-01 .container .c-item-01 > ul > li:not(:last-child) {
    margin-right: 80px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit {
    visibility: hidden;
    opacity: 0;
    transition: visibilty 0.25s, opacity 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit::after {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 44px;
    left: -439px;
    display: block;
    width: 1290px;
    background-color: #fff;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: default;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    -moz-transition: visibility 0.2s, opacity 0.2s;
    -ms-transition: visibility 0.2s, opacity 0.2s;
    -o-transition: visibility 0.2s, opacity 0.2s;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul {
    position: absolute;
    top: 100px;
    width: 700px;
    left: 100px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li {
    position: static;
    float: left;
    margin-bottom: 20px;
    width: 180px;
    transition: transform 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li > a {
    font-size: 12px;
    font-weight: 600;
    color: #363738;
    transition: color 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li:nth-child(odd) {
    margin-right: 200px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li:nth-child(even) {
    margin-left: -119px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li:hover {
    transform: translateX(10px);
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul > li:hover > a {
    color: red;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit > ul::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    background-color: #e9ebf0;
    top: -30px;
    left: 192px;
    height: 213px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit .img {
    position: absolute;
    top: 71px;
    left: -275px;
  }
  .header-01 .container .c-item-01 > ul > li .c-unit .img img {
    width: 250px;
    height: 200px;
    background-position: center center;
    background-size: cover;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit {
    visibility: hidden;
    opacity: 0;
    transition: visibilty 0.25s, opacity 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit::after {
    visibility: hidden;
    content: "";
    position: absolute;
    top: 44px;
    left: -580px;
    display: block;
    width: 1290px;
    background-color: #fff;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: default;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    -moz-transition: visibility 0.2s, opacity 0.2s;
    -ms-transition: visibility 0.2s, opacity 0.2s;
    -o-transition: visibility 0.2s, opacity 0.2s;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul {
    position: absolute;
    top: 100px;
    width: 700px;
    left: -40px;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li {
    position: static;
    float: left;
    margin-bottom: 20px;
    width: 180px;
    transition: transform 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li > a {
    font-size: 12px;
    font-weight: 600;
    color: #363738;
    transition: color 0.25s;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li:nth-child(odd) {
    margin-right: 200px;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li:nth-child(even) {
    margin-left: -119px;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li:hover {
    transform: translateX(10px);
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul > li:hover > a {
    color: red;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit > ul::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    background-color: #e9ebf0;
    top: -30px;
    left: 192px;
    height: 213px;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit .img {
    position: absolute;
    top: 71px;
    left: -415px;
  }
  .header-01 .container .c-item-01 > ul > li .d-unit .img img {
    width: 250px;
    height: 200px;
    background-position: center center;
    background-size: cover;
  }
  .header-01 .container .c-item-01 > ul > li:hover .c-unit {
    visibility: visible;
    opacity: 1;
  }
  .header-01 .container .c-item-01 > ul > li:hover .c-unit::after {
    z-index: -1;
    visibility: visible;
    height: 270px;
    opacity: 1;
  }
  .header-01 .container .c-item-01 > ul > li:hover .d-unit {
    visibility: visible;
    opacity: 1;
  }
  .header-01 .container .c-item-01 > ul > li:hover .d-unit::after {
    z-index: -1;
    visibility: visible;
    height: 270px;
    opacity: 1;
  }
}/*# sourceMappingURL=Header.css.map */