        @import "../../Base/Global.scss";
        @import "../../Base/Colour.scss";
        /* Common xs1, xs2 mobil*/
        
        @media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
            .header-01 {
                height: 64px;
                background-color: #FFF;
                .c-wrapper {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .c-item-01 {
                        display: none;
                    }
                    .c-item-02 {
                        svg {
                            width: 121px;
                            height: 32px;
                        }
                    }
                    .hamburger-menu-icon {
                        display: flex;
                        position: absolute;
                        left: 0;
                        top: 20px;
                    }
                }
            }
        }
        /* Common sm1, sm2 tablet */
        
        @media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
            .header-01 {
                height: 76px;
                background-color: #FFF;
                .c-wrapper {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .c-item-01 {
                        display: none;
                    }
                    .c-item-02 {}
                    .hamburger-menu-icon {
                        display: flex;
                        position: absolute;
                        left: 0;
                        top: 26px;
                    }
                }
            }
        }
        /* Common  md, lg, xl, xxl desktop*/
        
        @media all and (min-width: #{$mq-md + "px"}) {
            .header-01 {
                width: 1290px;
                height: 100px;
                background: rgb(245, 245, 245);
                position: absolute;
                z-index: 10;
                .container {
                    display: flex;
                    left: 164px;
                    .c-item {
                        margin-right: 100px;
                        top: 35px;
                        img {
                            width: 175px;
                            height: 22px;
                        }
                    }
                    .c-item-01 {
                        top: 39px;
                        >ul {
                            display: flex;
                            >li {
                                height: 60px;
                                >a {
                                    font-size: 11px;
                                    font-weight: 600;
                                    color: #1b1d21;
                                    transition: color 0.25s;
                                    &:hover {
                                        color: red;
                                    }
                                }
                                &:not(:last-child) {
                                    margin-right: 80px;
                                }
                                .c-unit {
                                    visibility: hidden;
                                    opacity: 0;
                                    &::after {
                                        visibility: hidden;
                                        content: "";
                                        position: absolute;
                                        top: 44px;
                                        left: -439px;
                                        display: block;
                                        width: 1290px;
                                        background-color: #fff;
                                        box-shadow: 0 2px 50px 0 rgb(0 0 0 / 5%);
                                        cursor: default;
                                        opacity: 0;
                                        transition: visibility 0.2s, opacity 0.2s;
                                        -webkit-transition: visibility 0.2s, opacity 0.2s;
                                        -moz-transition: visibility 0.2s, opacity 0.2s;
                                        -ms-transition: visibility 0.2s, opacity 0.2s;
                                        -o-transition: visibility 0.2s, opacity 0.2s;
                                    }
                                    >ul {
                                        position: absolute;
                                        top: 100px;
                                        width: 700px;
                                        left: 100px;
                                        >li {
                                            position: static;
                                            float: left;
                                            margin-bottom: 20px;
                                            width: 180px;
                                            transition: transform 0.25s;
                                            >a {
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: #363738;
                                                transition: color 0.25s;
                                            }
                                            &:nth-child(odd) {
                                                margin-right: 200px;
                                            }
                                            &:nth-child(even) {
                                                margin-left: -119px;
                                            }
                                            &:hover {
                                                >a {
                                                    color: red;
                                                }
                                                transform: translateX(10px);
                                            }
                                        }
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 1px;
                                            background-color: #e9ebf0;
                                            top: -30px;
                                            left: 192px;
                                            height: 213px;
                                        }
                                    }
                                    .img {
                                        position: absolute;
                                        top: 71px;
                                        left: -275px;
                                        img {
                                            width: 250px;
                                            height: 200px;
                                            background-position: center center;
                                            background-size: cover;
                                        }
                                    }
                                    transition: visibilty 0.25s,
                                    opacity 0.25s;
                                }
                                .d-unit {
                                    visibility: hidden;
                                    opacity: 0;
                                    &::after {
                                        visibility: hidden;
                                        content: "";
                                        position: absolute;
                                        top: 44px;
                                        left: -580px;
                                        display: block;
                                        width: 1290px;
                                        background-color: #fff;
                                        box-shadow: 0 2px 50px 0 rgb(0 0 0 / 5%);
                                        cursor: default;
                                        opacity: 0;
                                        transition: visibility 0.2s, opacity 0.2s;
                                        -webkit-transition: visibility 0.2s, opacity 0.2s;
                                        -moz-transition: visibility 0.2s, opacity 0.2s;
                                        -ms-transition: visibility 0.2s, opacity 0.2s;
                                        -o-transition: visibility 0.2s, opacity 0.2s;
                                    }
                                    >ul {
                                        position: absolute;
                                        top: 100px;
                                        width: 700px;
                                        left: -40px;
                                        >li {
                                            position: static;
                                            float: left;
                                            margin-bottom: 20px;
                                            width: 180px;
                                            transition: transform 0.25s;
                                            >a {
                                                font-size: 12px;
                                                font-weight: 600;
                                                color: #363738;
                                                transition: color 0.25s;
                                            }
                                            &:nth-child(odd) {
                                                margin-right: 200px;
                                            }
                                            &:nth-child(even) {
                                                margin-left: -119px;
                                            }
                                            &:hover {
                                                >a {
                                                    color: red;
                                                }
                                                transform: translateX(10px);
                                            }
                                        }
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            display: block;
                                            width: 1px;
                                            background-color: #e9ebf0;
                                            top: -30px;
                                            left: 192px;
                                            height: 213px;
                                        }
                                    }
                                    .img {
                                        position: absolute;
                                        top: 71px;
                                        left: -415px;
                                        img {
                                            width: 250px;
                                            height: 200px;
                                            background-position: center center;
                                            background-size: cover;
                                        }
                                    }
                                    transition: visibilty 0.25s,
                                    opacity 0.25s;
                                }
                                &:hover {
                                    .c-unit {
                                        visibility: visible;
                                        opacity: 1;
                                        &::after {
                                            z-index: -1;
                                            visibility: visible;
                                            height: 270px;
                                            opacity: 1;
                                        }
                                    }
                                    .d-unit {
                                        visibility: visible;
                                        opacity: 1;
                                        &::after {
                                            z-index: -1;
                                            visibility: visible;
                                            height: 270px;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }